/* 加载进度条样式 */
.loadingType .loading-progress{
	width:600px;
	height:8px;
	position:relative;
	border-radius:4px;
	background-color:#F5F5F5;
	display:inline-block;
}
.loadingType .progress-left{
	position:absolute;
	top:0;
	left:0;
	width:10%;
	height:100%;
	background-color:#1B95E7;
	border-radius:4px;
}
.skin-blue-white .loadingPanel{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#fff;
	opacity:0.8;
}
.skin-black .loadingPanel{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:rgba(0,0,0,0.5);
	opacity:0.5;
}
.loadingType{
	width:750px;
	height:8px;
	position:absolute;
	top:50%;
	margin-top:-4px;
	left:50%;
	margin-left:-300px;
}
.progress-finish{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:#00A854;
	border-radius:4px;
}
.skin-black .progressFont{
	color:#fff;
}
/* 卡片共有样式 */
.f_cardTable{
	border: 1px solid #D9D9D9;
	background-color: #fff;
	margin-top:20px;
}
.init_head{
	background-color: #f8f8f8;
	border-bottom: 1px solid #D9D9D9;
	height: 50px;
	line-height: 50px;
	position: relative;
}
.head_operate{
	left: 10px;
	position: absolute;
	top: 0;
}
.init_switch{
	position: absolute;
	top: 0;
}
.f_init_bottoms_panel{
	position: absolute;
	right: 20px;
	top: 0;
	text-align:right;
}
.f_init_bottoms{
	display:inline-block;
	color:#1B95E7;
	cursor:pointer;
}
.f_init_bottoms>span{
	padding:1px 10px;
}
.f_init_bottoms>span.f_init_bottoms_more{
	border-left:1px solid #D9D9D9;
}
.f_init_bottoms:hover{
	text-decoration:underline;
}
.f_init_absolutePanel{
	border: 1px solid #ebebeb;
	position: absolute;
	width: 100px;
	box-shadow: 1px 2px 3px #CCC;
	top:40px;
	right:0;
	background-color:#fff;
	display:none;
	text-align:left;
}
.f_init_content{
	padding:0 30px 10px 30px;
}
.f_init_absolutePanel>[name]{
	height:40px;
	line-height:40px;
	padding-left:10px;
	color:#666;
}
.f_init_absolutePanel>[name]:hover{
	background-color: #EDF7FD;
	text-decoration:none;
}
.f_init_content .f_init_row{
	margin:20px 0 10px 0;
}

.titleClick:hover{
	color:#1B95E7 ;
	cursor:pointer;
	text-decoration:underline;
}
.titleStyle{
	font-size:16px;
	color:#404040;
}
.subTitleStyle{
	margin-left:20px;
	font-size:12px;
}
.f_init_col > span{
	display:inline-block;
}
.init_switch .fa{
	margin-left:10px;
	font-size:16px;
}
.f_init_bottoms.disable{
	color: #CACACA;
	cursor: not-allowed;
}
.f_init_bottoms.disable:hover{
	text-decoration:none;
}
.head_status{
	float:left;
}
.head_status>span{
	display:inline-block;
	margin-left:20px;
	line-height:1;
	background-color:#A7E1C4;
	padding:10px;
	font-size:12px;
	color:#00643B;
	border-radius:2px;
}
.head_title{
	float:left;
}
.init_switch .basicStyle{
	width:35px;
	height:16px;
	border-radius:8px;
	position:relative;
	display:inline-block;
	margin-left:10px;
	margin-top:16px;
}

.init_switch .basicStyle.open{
	background-color:#00A854;
}

.init_switch .basicStyle.close{
	background-color:#BCBCBC;
}
.init_switch .basicStyle .circle{
	width:12px;
	height:12px;
	background-color:#fff;
	border-radius:6px;
	position:absolute;
	top:2px;
	display:inline-block;
}
.init_switch .basicStyle.close .circle{
	left:2px;
}
.init_switch .basicStyle.open .circle{
	right:2px;
}